.page-section .container h2 {
  color: rgba(255, 255, 255, 0.75);
}

.page-section .container h2 a {
  color: rgba(255, 255, 255, 0.9);
}

.page-section .container h2 a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

.page-section .container h3 {
  color: rgba(255, 255, 255, 0.9);
}

.page-section .container h4 {
  color: rgba(255, 255, 255, 0.5);
}

.page-section .container h5 {
  color: rgba(255, 255, 255, 0.5);
}

.page-section .container h6 {
  color: rgba(255, 255, 255, 0.75);
}

.page-section .container p {
  color: #ffffff;
}

.page-section .container ol li,
.page-section .container ul li {
  color: rgba(255, 255, 255, 0.8);
}

.text-right ul {
  direction:rtl;
}

.podcastaudio {
  max-width: 600px !important;
}

.podcastaudio-image {
  height: 300px !important;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

#map {
  background: url("/user/uploads/img/map.png") no-repeat center center fixed;
  background-size: cover;
}
