.page-section .container h1 {
  color: rgba(255, 255, 255, 0.75);
}

.page-section .container h2 {
  color: rgba(255, 255, 255, 0.75);
}

.page-section .container h2 a {
  color: rgba(255, 255, 255, 0.9);
}

.page-section .container h2 a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

.page-section .container h3 {
  color: rgba(255, 255, 255, 0.9);
}

.page-section .container h4 {
  color: rgba(255, 255, 255, 0.5);
}

.page-section .container h5 {
  color: rgba(255, 255, 255, 0.5);
}

.page-section .container h6 {
  color: rgba(255, 255, 255, 0.75);
}

.page-section .container p {
  color: #ffffff;
}

.page-section .container ol li,
.page-section .container ul li {
  color: rgba(255, 255, 255, 0.8);
}

.text-right ul {
  direction:rtl;
}

.podcastaudio {
  max-width: 600px !important;
}

.podcastaudio-image {
  height: 300px !important;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

#map.page-section {
  background: url("/user/uploads/img/map.png") no-repeat center center fixed;
  background-size: cover;
}

.input-error {
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  color:black!important;
}

@media (min-width: 576px) {
  .page-section#map .container {
    padding-left: 25px;
    padding-right: 25px;
    max-width: none;
  }
}

@media (min-width: 768px) {
  .page-section#map .container {
    padding-left: 55px;
    padding-right: 55px;
    max-width: none;
  }
}

#mainNav.navbar *,
#mainNav.navbar::before,
#mainNav.navbar::after {
  box-sizing: content-box;
}

#mainNav.navbar .dropdown-item {
  box-sizing: border-box;
}

#mainNav.navbar .container{
  max-width: 1200px;
}

@media (max-width: 1199px) {
 
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.9rem!important;
} 

.container{
  padding-right: 2px; 
  padding-left: 2px;
}

}

@media (min-width: 992px) {
 
#main_text{
  margin-top:-2.7rem!important;
}

#main_divider{
  margin-top:-0.1rem!important;
}

#main_logo{
  margin-top:-1rem!important;
}

}

@media (max-width: 991px) {
 
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 0.9rem!important;
} 

#main_logo{
  padding-bottom: 1rem!important;
  margin-top: -2rem!important;
}

.container{
  padding-right: 15px!important!;
  padding-left: 15px!important;
}

#mainNav .navbar-nav .nav-item .dropdown-menu {
  margin-left: 0.5rem!important;
  margin-right: 0.5rem!important;
}
#mainNav .navbar-nav .nav-item .nav-link:focus {
  color: #1DA64A!important;
}
}